In [ ]:
#!pip install openpyxl

In [3]:
# data/apt-price.xlsx 불러오기
import pandas as pd

df = pd.read_excel('data/apt-price.xlsx', header=12)
df.head()

c:\Users\park0\miniconda3\envs\DS\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,NO,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),...,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
0,1,서울특별시 송파구 신천동,17,17,0,파크리오,84.90,202601,7,"303,800",...,35,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
1,2,서울특별시 송파구 신천동,17,17,0,파크리오,59.64,202601,3,"270,000",...,3,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
2,3,서울특별시 송파구 신천동,11-10,11,10,잠실아이스페이스,67.11,202512,27,"127,000",...,22,개인,개인,2001,오금로 58,-,중개거래,서울 송파구,-,아파트
3,4,서울특별시 송파구 신천동,17,17,0,파크리오,84.97,202512,26,"286,000",...,1,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
4,5,서울특별시 송파구 신천동,11,11,0,장미2,99.00,202512,23,"358,000",...,9,개인,개인,1979,올림픽로35길 104,-,중개거래,서울 송파구,-,아파트

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        495 non-null    int64
 1   시군구       495 non-null    object
 2   번지        495 non-null    object
 3   본번        495 non-null    int64
 4   부번        495 non-null    int64
 5   단지명       495 non-null    object
 6   전용면적(㎡)   495 non-null    float64
 7   계약년월      495 non-null    int64
 8   계약일       495 non-null    int64
 9   거래금액(만원)  495 non-null    object
 10  동         495 non-null    object
 11  층         495 non-null    int64
 12  매수자       495 non-null    object
 13  매도자       495 non-null    object
 14  건축년도      495 non-null    int64
 15  도로명       495 non-null    object
 16  해제사유발생일   495 non-null    object
 17  거래유형      495 non-null    object
 18  중개사소재지    495 non-null    object
 19  등기일자      495 non-null    object
 20  주택유형      495 non-null    object
dtypes: float64(1), int64(7), object(13)
memory usage: 81.3+ KB

In [6]:
# df에서 'No'컬럼을 index로 설정
df.set_index('NO', inplace=True)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
NO,,,,,,,,,,,,,,,,,,,,
1,서울특별시 송파구 신천동,17,17,0,파크리오,84.90,202601,7,"303,800",-,35,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
2,서울특별시 송파구 신천동,17,17,0,파크리오,59.64,202601,3,"270,000",-,3,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
3,서울특별시 송파구 신천동,11-10,11,10,잠실아이스페이스,67.11,202512,27,"127,000",-,22,개인,개인,2001,오금로 58,-,중개거래,서울 송파구,-,아파트
4,서울특별시 송파구 신천동,17,17,0,파크리오,84.97,202512,26,"286,000",-,1,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
5,서울특별시 송파구 신천동,11,11,0,장미2,99.00,202512,23,"358,000",-,9,개인,개인,1979,올림픽로35길 104,-,중개거래,서울 송파구,-,아파트

In [9]:
df.tail()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
NO,,,,,,,,,,,,,,,,,,,,
491,서울특별시 송파구 신천동,11,11,0,장미2,82.45,202501,16,"237,000",30,6,개인,개인,1979,올림픽로35길 104,-,중개거래,서울 송파구,25.04.18,아파트
492,서울특별시 송파구 신천동,11-9,11,9,한신잠실코아,41.99,202501,16,"64,000",아파트,8,개인,개인,1988,올림픽로35가길 11,-,직거래,-,25.01.22,아파트
493,서울특별시 송파구 신천동,17,17,0,파크리오,59.95,202501,15,"195,000",103,4,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,25.04.30,아파트
494,서울특별시 송파구 신천동,17,17,0,파크리오,84.79,202501,15,"247,500",113,26,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,25.05.30,아파트
495,서울특별시 송파구 신천동,17,17,0,파크리오,59.86,202501,15,"199,000",104,2,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,25.04.24,아파트

In [11]:
# df에서 '시군구'컬럼 삭제
df.drop(columns=['시군구'], inplace=True)
df.head()

,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
NO,,,,,,,,,,,,,,,,,,,
1,17,17,0,파크리오,84.90,202601,7,"303,800",-,35,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
2,17,17,0,파크리오,59.64,202601,3,"270,000",-,3,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
3,11-10,11,10,잠실아이스페이스,67.11,202512,27,"127,000",-,22,개인,개인,2001,오금로 58,-,중개거래,서울 송파구,-,아파트
4,17,17,0,파크리오,84.97,202512,26,"286,000",-,1,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
5,11,11,0,장미2,99.00,202512,23,"358,000",-,9,개인,개인,1979,올림픽로35길 104,-,중개거래,서울 송파구,-,아파트

In [12]:
df.drop(columns=['번지'], inplace=True)
df.head()

,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
NO,,,,,,,,,,,,,,,,,,
1,17,0,파크리오,84.90,202601,7,"303,800",-,35,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
2,17,0,파크리오,59.64,202601,3,"270,000",-,3,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
3,11,10,잠실아이스페이스,67.11,202512,27,"127,000",-,22,개인,개인,2001,오금로 58,-,중개거래,서울 송파구,-,아파트
4,17,0,파크리오,84.97,202512,26,"286,000",-,1,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
5,11,0,장미2,99.00,202512,23,"358,000",-,9,개인,개인,1979,올림픽로35길 104,-,중개거래,서울 송파구,-,아파트

In [15]:
# df['단지명']중에 '파크리오'만 선택
# boolean indexing
df2 = df[df['단지명'] == '파크리오']
df2.head()

,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
NO,,,,,,,,,,,,,,,,,,
1,17,0,파크리오,84.90,202601,7,"303,800",-,35,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
2,17,0,파크리오,59.64,202601,3,"270,000",-,3,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
4,17,0,파크리오,84.97,202512,26,"286,000",-,1,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
6,17,0,파크리오,84.79,202512,22,"296,000",-,12,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
8,17,0,파크리오,59.95,202512,16,"274,000",-,22,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트

In [ ]:
# 기존 인덱스를 삭제(drop)하고, 인덱스를 재설정
df2.reset_index(drop=True, inplace=True)
df2.head()

,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,주택유형
0,17,0,파크리오,84.90,202601,7,"303,800",-,35,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
1,17,0,파크리오,59.64,202601,3,"270,000",-,3,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
2,17,0,파크리오,84.97,202512,26,"286,000",-,1,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
3,17,0,파크리오,84.79,202512,22,"296,000",-,12,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트
4,17,0,파크리오,59.95,202512,16,"274,000",-,22,개인,개인,2008,올림픽로 435,-,중개거래,서울 송파구,-,아파트

In [21]:
df2.drop(columns=['건축년도','도로명','주택유형'], inplace=True)
df2.head()

C:\Users\park0\AppData\Local\Temp\ipykernel_15832\581354995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['건축년도','도로명','주택유형'], inplace=True)

,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,해제사유발생일,거래유형,중개사소재지,등기일자
0,17,0,파크리오,84.90,202601,7,"303,800",-,35,개인,개인,-,중개거래,서울 송파구,-
1,17,0,파크리오,59.64,202601,3,"270,000",-,3,개인,개인,-,중개거래,서울 송파구,-
2,17,0,파크리오,84.97,202512,26,"286,000",-,1,개인,개인,-,중개거래,서울 송파구,-
3,17,0,파크리오,84.79,202512,22,"296,000",-,12,개인,개인,-,중개거래,서울 송파구,-
4,17,0,파크리오,59.95,202512,16,"274,000",-,22,개인,개인,-,중개거래,서울 송파구,-

In [24]:
# df2['해제사유발생일']이 '-' 아닌 행을 찾기
df2[df2['해제사유발생일'] != '-']

,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,해제사유발생일,거래유형,중개사소재지,등기일자
38,17,0,파크리오,84.90,202510,24,"289,500",-,7,개인,개인,20251105,중개거래,서울 송파구,-
39,17,0,파크리오,84.79,202510,24,"295,000",-,5,개인,개인,20251219,중개거래,서울 송파구,-
57,17,0,파크리오,59.95,202509,29,"264,000",-,19,개인,개인,20251021,중개거래,서울 송파구,-
63,17,0,파크리오,84.90,202509,27,"260,000",-,9,개인,개인,20251030,중개거래,"서울 강동구, 서울 송파구",-
65,17,0,파크리오,84.97,202509,25,"309,000",-,23,개인,개인,20251103,중개거래,서울 송파구,-
70,17,0,파크리오,59.95,202509,23,"260,000",-,11,개인,개인,20260105,중개거래,"경기 하남시, 서울 송파구",-
79,17,0,파크리오,59.95,202508,22,"247,500",-,8,개인,개인,20250829,중개거래,"서울 송파구, 서울 양천구",-
100,17,0,파크리오,84.90,202506,26,"280,000",-,15,개인,개인,20250626,중개거래,서울 송파구,-
103,17,0,파크리오,84.97,202506,25,"292,000",-,16,개인,개인,20250625,중개거래,서울 송파구,-
115,17,0,파크리오,84.79,202506,11,"254,000",-,1,개인,개인,20250612,중개거래,"서울 강동구, 서울 송파구",-
127,17,0,파크리오,84.90,202505,30,"260,000",-,26,개인,개인,20250611,중개거래,서울 송파구,-
128,17,0,파크리오,84.79,202505,29,"256,000",-,9,개인,개인,20250627,중개거래,서울 송파구,-
142,17,0,파크리오,59.95,202504,26,"235,000",-,14,개인,개인,20250610,중개거래,서울 송파구,-
143,17,0,파크리오,84.79,202504,26,"258,000",-,8,개인,개인,20250520,중개거래,서울 송파구,-
165,17,0,파크리오,84.90,202503,22,"265,000",-,23,개인,개인,20250408,중개거래,서울 송파구,-
196,17,0,파크리오,59.95,202503,8,"227,000",-,16,개인,개인,20250510,중개거래,서울 송파구,-
199,17,0,파크리오,59.95,202503,8,"227,000",-,16,개인,개인,20250509,중개거래,서울 송파구,-
247,17,0,파크리오,59.95,202502,18,"210,000",-,23,개인,개인,20250425,중개거래,서울 송파구,-
248,17,0,파크리오,59.95,202502,18,"210,000",-,23,개인,개인,20250324,중개거래,서울 송파구,-
294,17,0,파크리오,84.79,202501,23,"235,000",-,16,개인,개인,20250204,중개거래,서울 송파구,-
297,17,0,파크리오,84.79,202501,23,"235,000",-,16,개인,개인,20250210,중개거래,서울 송파구,-

In [27]:
df2[df2['매도자']!='개인']

Empty DataFrame
Columns: [본번, 부번, 단지명, 전용면적(㎡), 계약년월, 계약일, 거래금액(만원), 동, 층, 매수자, 매도자, 해제사유발생일, 거래유형, 중개사소재지, 등기일자]
Index: []

In [18]:
df2['건축년도'].unique()

array([2008])

In [19]:
df2['거래유형'].unique()

array(['중개거래', '직거래'], dtype=object)

In [20]:
df2['해제사유발생일'].unique()

array(['-', '20251105', '20251219', '20251021', '20251030', '20251103',
       '20260105', '20250829', '20250626', '20250625', '20250612',
       '20250611', '20250627', '20250610', '20250520', '20250408',
       '20250510', '20250509', '20250425', '20250324', '20250204',
       '20250210'], dtype=object)